<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Radical Readers Scrape</a>
    <ul class="right" id="nav-mobile">
      <li><a href="/favorites">Favorites</a></li>
      <li><a clas="waves-effect waves-light btn modal-trigger" href="#scrapeModal" id="scrape">Scrape</a></li> 
    <li><a clas="waves-effect waves-light btn modal-trigger" href="#clearModal" id="clear">Clear</a></li>   
    
  </ul>
  </div>
</nav>

<div class="modal" id="clearModal">
      <h4>Clear</h4>
    </div> 
  
  {{!-- </div> --}}
  {{!-- <div class="modal" id="scrapeModal">
      <h4>Scrape Complete</h4>
  </div>
  {{!-- </div>
  </div> --}}
