<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Radical Readers Scrape</a>
    <ul class="right" id="nav-mobile">
      <li><a href="/favorites">Favorites</a></li>
      <li><a  id="scrape" class="waves-effect waves-light">Scrape</a></li> 
      <li><a id="clear" class="waves-effect waves-light" >Clear</a></li>   
  </ul>
  </div>
</nav>


  
