body{
  background-color: #404040;
}

.brand-logo, h1{
  font-family: 'Playfair Display SC', serif;
}

h1{
  text-align: center;
  color: white; 
  font-size: 3rem; 
}

nav, .page-footer{
  font-family: 'Playfair Display SC', serif;
  /* font-size: 1em; */
  background-color: darkred	;
  width: 100%; 
}

.brand-logo{
  width: 100%; 
}
ul{
  text-align: center; 
}
ul li{
  display: inline; 
  margin: 2%; 
}

.btn{
  background-color: darkred;
}

.btn:hover{
  background-color: red;
}
.card-content{
    height: 200px; 
    overflow: hidden;
}

.card-action a  {
  color: darkred; 
}

#favoritesCard a{
  color: white
}

#addComment, #displayComment{
  background-color: gray;
}

#readMore a{
  color: red
}

#cardLink a{
  color: red; 
}

footer{
  text-align: center; 
  padding-bottom: 0.5%;
  margin: 0%; 
}

footer p{
  padding: 0;
  margin: 0; 
  font-size: 1rem;
}